$sbgColor: #001c4f;
$sfontColor: #fff;
$slinkColor: #7198ff;
$siconColor: #247fdb;
$sboxColor: #142a64;
$sboxOnColor: #525336;
$slineColor: #5eb1ff;
$slineOnColor: #979747;
$slogoBgStart: #0075b7;
$slogobgEnd: #004286;
$tableBg: #083074;
$btnBg: #083176;
$noteFont: #ffe19c;

$sLightBlue: #49BDF9;
$sLightYellow: #D2C253;
$sLightGreen: #28C774;
$sLightRed: #D83B44;
$sPink: #c741d0;
$sGreen: #499a44;
$sOrange: #e47625;
$sViolet: #5754da;
$sBlue: #2e82dc;
$sYellow: #d5bf13;
$sCyan: #16baa9;
$sRed: #f34a68;

.s-lightblue {
  color: $sLightBlue !important;
}
.s-lightyellow {
  color: $sLightYellow !important;
}
.s-lightgreen {
  color: $sLightGreen !important;
}
.s-lightred {
  color: $sLightRed !important;
}
a.s-lightblue {
  @extend .s-lightblue;
  &:hover {
    color: transparentize($sLightBlue, 0.3) !important;
  }
}
a.s-lightyellow {
  @extend .s-lightyellow;
  &:hover {
    color: transparentize($sLightYellow, 0.3) !important;
  }
}
a.s-lightgreen {
  @extend .s-lightgreen;
  &:hover {
    color: transparentize($sLightGreen, 0.3) !important;
  }
}
a.s-lightred {
  @extend .s-lightred;
  &:hover {
    color: transparentize($sLightRed, 0.3) !important;
  }
}
